name: Release and build arkanoid-simple
on:
  push:
    branches: [main, test-ci]
    tags: ["release"]
  workflow_dispatch:

env:
  BUILD_DIR: build
  GODOT_VERSION: "4.5"
  PROJECT_PATH: "${{ github.workspace }}"

jobs:
  build-web:
    runs-on: ubuntu-latest
    container: barichello/godot-ci:4.5
    timeout-minutes: 90
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Web Build
        run: |
          mkdir -v -p $BUILD_DIR/web
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Web" "$BUILD_DIR/web/index.html"
          echo "Web Build content:"
          ls $BUILD_DIR/web
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: $BUILD_DIR/web/index*
          if-no-files-found: error
