name: Release and build arkanoid-simple

concurrency:
  group: ITCHIO
  cancel-in-progress: true
on:
  push:
    branches: [main, test-ci]
    tags: ["release"]
  workflow_dispatch:

env:
  BUILD_DIR: build
  GODOT_VERSION: "4.5"
  PROJECT_PATH: "${{ github.workspace }}"

jobs:
  build-web:
    runs-on: ubuntu-latest
    container: barichello/godot-ci:4.5
    environment: ITCHIO
    timeout-minutes: 90
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Web Build
        run: |
          mkdir -v -p $BUILD_DIR/web
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Web" "$BUILD_DIR/web/index.html"
          echo "Web Build content:"
          ls $BUILD_DIR/web
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godot-builds
          path: build/**
      - name: Publish itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
          ITCHIO_USER: ${{ secrets.ITCHIO_USER }}
          ITCHIO_GAME: ${{ secrets.ITCHIO_GAME }}
        run: |
          ls $BUILD_DIR/web
          butler login
          butler push $BUILD_DIR/web $ITCHIO_USER/$ITCHIO_GAME:html5
